#banner {
    background-image: url('./../../../assets/images/generic.png');
    width: 100%;
    min-height: 540px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.text-banner {
    color: white;
    text-align: center;
    margin-top: 5rem !important;
    margin-bottom: 4rem !important;
}

.text-banner > p {
    font-size: 1.5rem;
}

.text-banner > .text-head {
    font-size: 2.5rem;
    font-weight: bold;
}

.tabs-search > a.nav-item.nav-link {
    color: white !important;
    background-color: #187CC7;
    font-size: 1.5rem;
    width: 160px;
    border: 1px solid rgba(255, 255, 255, 0.2) !important;
    border-radius: 0;
    border-top: 0 !important;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2) !important;
    text-align: center;
}

.tabs-search > a.nav-item.nav-link:first-child {
    border-left: 0 !important;
}

.tabs-search > a.nav-item.nav-link:last-child {
    border-right: 0 !important;
}

.tabs-search > a.nav-item.nav-link.active {
    background-color: rgba(255, 255, 255, 0.2) !important;
    border-bottom: 0 !important;
    /* border: 0 !important; */
}
.tab-content > .tab-search{
    background-color: rgba(255, 255, 255, 0.2) !important;
    margin-bottom: 20 !important;
    min-height: 100px !important;
}

.tabs-search.nav-tabs {
    border-bottom: 0 !important;
}

.box-flex {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

@media (max-width: 767.98px) { 
    .tabs-search > a.nav-item.nav-link {
        width: auto;
    }
    .text-banner {
        margin-top: 3rem !important;
        margin-bottom: 2rem !important;
    }
    #banner .box-flex > svg {
        height: 1.65rem;
    }
}