#content {
    background-color: white;
    padding: 3rem 0rem;
}

#content .main-slick {
    width: 100%;
    display: flex !important;
    padding-bottom: 10px;
}

#content .main-slick .box-detail, 
#content .main-slick .box-image {
    min-height: 500px;
}

#content .main-slick .box-detail {
    width: 55%;
    padding: 3rem 3rem 3rem 0.1rem;
}

#content .box-detail .text-head {
    color: #bbbccc;
    font-size: 3.75rem;
    line-height: 4.5rem;
    margin-bottom: 0;
}

#content .box-detail .text-title {
    color: #084899;
    font-size: 2.25rem;
    margin-bottom: 0;
    font-weight: bold;
    line-height: 2.25rem;
}

#content .box-detail .text-desc {
    font-size: 1.35rem;
    margin-bottom: 1rem;
}

#content .main-slick .box-image {
    width: 45%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.btn-link-to-menu {
    background-color: #187CC7 !important;
    padding: 6px 25px !important;
    color: white !important;
    font-size: 1.15rem !important;
}

.line-under-title {
    width: 50px;
    height: 3px;
    background-color: #084899;
    margin: 1rem 0;
}

/* vertical-dots */
.vertical-dots
{
    right: -25px;
    list-style: none;
    display: block;
    position: absolute;
    top: 45%;
    text-align: right;
}
.vertical-dots li
{
    position: relative;
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.vertical-dots li button
{
    font-size: 0;
    line-height: 0;
    display: block;
    width: 20px;
    height: 20px;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.vertical-dots li button:hover,
.vertical-dots li button:focus
{
    outline: none;
}
.vertical-dots li button:hover:before,
.vertical-dots li button:focus:before
{
    opacity: 1;
}
.vertical-dots li button:before
{
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: '•';
    text-align: center;

    opacity: .25;
    color: black;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.vertical-dots li.slick-active button:before
{
    opacity: .75;
    color: black;
}
/* vertical-dots */

@media (max-width: 767.98px) { 
    #content .main-slick .box-detail, 
    #content .main-slick .box-image {
        width: 100%;
        min-height: 250px;
        padding: 0rem 0rem 1rem 0rem;
    }
    #content .main-slick {
        display: inline-block !important;
    }
}